<h2>Create a user</h2>
<form (ngSubmit) = "onSubmit()">
    <div>
        <label>Username</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" />
        <br>
        <label>Email</label>
        <input type="text" id="email" [(ngModel)]="user.email" name="email" />
        <br>
        <label>Password</label>
        <input type="text" id="password" [(ngModel)]="user.password" name="password" />
    </div>

    <button type="submit">Submit</button>
</form>
